---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Top from "../components/Top.astro";
import Map from "../components/Map.jsx";
import Testimonials from "../components/Testimonials.astro"
import Cart from "../components/Cart.astro"
import Footer from "../components/Footer.astro"
import NeedToKnow from "../components/NeedToKnow.astro"
import Refunds from "../components/Refunds.astro"

const stores = [
{
    "address": "129 McCarrell Ln",
    "store": "Total Pursuit Athletics",
    "thumb": "",
    "id": "14476",
    "distance": 327.2,
    "address2": "",
    "city": "16063",
    "state": "",
    "zip": "",
    "country": "USA",
    "lat": "40.7605189",
    "lng": "-80.1122365",
    "phone": "",
    "fax": "",
    "email": "meghan@totalpursuitathletics.com",
    "hours": "",
    "url": "https://totalpursuitathletics.com/"
    },
    {
    "address": "110 McMillen Ave, Unit 2",
    "store": "Mano Sports Performance",
    "thumb": "",
    "id": "18145",
    "distance": 330.7,
    "address2": "",
    "city": "Beaver Hills",
    "state": "",
    "zip": "15010",
    "country": "USA",
    "lat": "40.7710006",
    "lng": "-80.3733098",
    "phone": "",
    "fax": "",
    "email": "manoperformance@gmail.com",
    "hours": "",
    "url": "https://www.manosportsperformance.com/"
    },
    {
    "address": "3144 Twelve Mile Rd",
    "store": "Anytime Fitness Berkley",
    "thumb": "",
    "id": "14523",
    "distance": 334.6,
    "address2": "",
    "city": "48072",
    "state": "",
    "zip": "",
    "country": "USA",
    "lat": "42.5033288",
    "lng": "-83.1909403",
    "phone": "",
    "fax": "",
    "email": "vance1pc@gmail.com",
    "hours": "",
    "url": "https://www.anytimefitness.com/gyms/1765/Berkley-MI-48072/?utm_source=google&#038;utm_medium=local&#038;utm_campaign=localmaps&#038;utm_content=1765"
    },
    {
    "address": "3113 Green Garden Rd",
    "store": "Aurelius CrossFit",
    "thumb": "",
    "id": "17677",
    "distance": 348.1,
    "address2": "",
    "city": "15001",
    "state": "",
    "zip": "",
    "country": "USA",
    "lat": "40.598233",
    "lng": "-80.3058155",
    "phone": "",
    "fax": "",
    "email": "aureliuscf@gmail.com",
    "hours": "",
    "url": "https://www.aureliuscrossfit.com/"
    },
]
---

<Layout title="Insurance For Locals Final Expense Leads">
  <Hero />
  <Top />
  <!-- <Testimonials />
  <Cart /> -->
  <About />
  <!-- <NeedToKnow />
  <Refunds />
  <Footer /> -->
  <div class="py-24 min-h-96 max-w-7xl mx-auto relative bg-white">
    <Map client:only="react" stores={stores} />
  </div>
</Layout>
