---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Top from "../components/Top.astro";
import Map from "../components/Map.jsx";
import Contact from "../components/Contact.astro";
import Buy from "../components/Buy.astro";
import Testimonials from "../components/Testimonials.astro";
import myBackground from "../assets/background.png";
import { getImage } from "astro:assets";

const optimizedBackground = await getImage({
  src: myBackground,
  format: "webp",
});

const points = [
  { lat: 29.4315, lng: -98.4887 },
  { lat: 29.4189, lng: -98.5098 },
  { lat: 29.4451, lng: -98.4954 },
  { lat: 29.4062, lng: -98.4783 },
  { lat: 29.4374, lng: -98.5112 },
  { lat: 29.4158, lng: -98.5264 },
  { lat: 29.4273, lng: -98.5011 },
  { lat: 29.439, lng: -98.4845 },
  { lat: 29.4036, lng: -98.5169 },
  { lat: 29.4123, lng: -98.4877 },
  { lat: 29.4227, lng: -98.5025 },
  { lat: 29.4291, lng: -98.4778 },
  { lat: 29.421, lng: -98.5104 },
  { lat: 29.4337, lng: -98.4923 },
  { lat: 29.4078, lng: -98.5007 },
  { lat: 29.4405, lng: -98.5062 },
  { lat: 29.4141, lng: -98.4789 },
  { lat: 29.4352, lng: -98.5126 },
  { lat: 29.4105, lng: -98.4968 },
  { lat: 29.4261, lng: -98.4849 },
  { lat: 29.4215, lng: -98.5231 },
  { lat: 29.4178, lng: -98.5072 },
  { lat: 29.4322, lng: -98.5004 },
  { lat: 29.4182, lng: -98.4856 },
  { lat: 29.4309, lng: -98.5143 },
];
---

<Layout title="Insurance For Locals Final Expense Leads">
  <div
    style={`background-image: url(${optimizedBackground.src})`}
    class="bg-no-repeat bg-cover bg-[10%_100%]"
  >
    <Hero />
    <Top />
  </div>
  <div id="locations" class="min-h-96 max-w-7xl mx-auto relative bg-white">
    <Map client:only="react" stores={points} />
  </div>
  <Buy />
  <About />
  <Contact />
  <Testimonials />
</Layout>
