<div class="mt-20" id="leads">
  <h2 class="md:text-5xl text-2xl font-black my-4 text-center">
    Buy Leads Now!
  </h2>
  <stripe-pricing-table
    pricing-table-id="prctbl_1PBQSNRpqBMKwN7s2dfTFZsR"
    publishable-key="pk_test_51PBQ1yRpqBMKwN7sW0FuoMH5rTQP5W0aqCFdGvnz8MuMlOTzHuyIXy62ufb4rTS4ufQGaNU6XX3uAWq2SZ30UcVh00lJKTjQqV"
  >
  </stripe-pricing-table>
</div>
<script is:inline async src="https://js.stripe.com/v3/pricing-table.js"
></script>
