---
import { Image } from "astro:assets";
import startup from "../assets/dog-unsplash.jpg";
---

<div class="py-16 bg-white max-w-6xl mx-auto prose prose-neutral lg:prose-xl">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
      <div>
        <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">
          Frequently Asked Questions
        </h2>
        <p class="mt-6 text-gray-600">
Creative Assets Confidentiality: We maintain confidentiality regarding our creative assets.</p>
<p class="mt-6 text-gray-600">
Campaign Launch Timeline: Campaigns are typically launched within 12 hours.</p>
<p class="mt-6 text-gray-600">
Support Resources: We provide a CRM for managing webforms and a tracking system for live transfers. Both come with easy-to-follow video tutorials.</p>
<p class="mt-6 text-gray-600">
Discount Policy: We do not offer discounts. Our listed prices are already competitively priced.</p>
 <p class="mt-6 text-gray-600">
Referral Program: You can refer others to us after your third order. Referrals are made through our onboarding process. We reward referrals based on their order value, and you receive credits in calls or leads after the referral's order is complete.</p>
 <p class="mt-6 text-gray-600">
Ad Content Control: You cannot directly control the content of our ads. However, if you are a consistent buyer, we will consider your suggestions.</p>
 <p class="mt-6 text-gray-600">
Does the Quality and Intent of Services Decline with Increased Orders: Our commitment to maintaining consistent quality and intent remains steadfast regardless of order volume. We aim to deliver the same, or in some instances, even better quality, depending on the marketing platform used. Additionally, we rigorously protect our brand and creative assets, which are all trademarked and copyrighted, ensuring that imitation or unauthorized use could lead to legal actions including cease and desist orders or lawsuits.</p>
 <p class="mt-6 text-gray-600">
Experience in Final Expense : We have been working in the final expense sector for just under two years.</p>
 <p class="mt-6 text-gray-600">
Testimonials: We keep testimonials internal and are not sharing them publicly at this time.</p>
 <p class="mt-6 text-gray-600">
Webform Lead Exclusivity: We do not share webform leads that have been purchased. All leads provided are exclusive.</p>
<p class="mt-6 text-gray-600">
What Additional Requirements Must I Have as an Agent to Receive Leads or Calls: As an agent, you need the capability to send out emails and SMS messages, or at least have your templates prepared and ready for dispatch. Additionally, it's essential to be contracted with reputable carriers. Working with carriers that offer reasonable prices and day-one coverage will significantly benefit you.</p>

<p class="mt-6 text-gray-600">
Live Transfer Follow-Ups: We do not call back any successful transfers. Our marketing is real-time, with agents speaking to consumers within 5 seconds of submission to reverify their information.</p>

<p class="mt-6 text-gray-600">
State Licensing Requirements & Cost: If you don't meet our state requirements, you can obtain the necessary state licenses at NIPR.</p>

<p class="mt-6 text-gray-600">
Recommended States (Vertical Lead): We recommend operating in states like CA, NV, NM, NY, HI, AK, KY, KS, WA, NJ, IL, TX, LA, PA, WI, MN, MI, ND, SD, and others. The more states you are licensed in, the more opportunities you have. </p>
      </div>
      </div>
    </div>
  </div>
</div>
