---
import { Image } from "astro:assets";
import startup from "../assets/startup.png";
---

<div class="py-16 bg-white max-w-6xl mx-auto">
  <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
    <div
      class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12"
    >
      <div class="md:5/12 lg:w-5/12">
        <Image src={startup} alt="image" />
      </div>
      <div class="md:7/12 lg:w-6/12">
        <h2 class="text-2xl text-gray-900 font-bold md:text-4xl">Frequently Asked Questions</h2>
        <p class="mt-6 text-gray-600">
          ***To save everyone time, please check here to see if we have already answered your questions before emailing us. If you do not see it here, feel free to email us at hello@happyagentleads.com
 
What kind of leads are these?
These are Facebook leads. Happy Agent Leads are leads generated organically on Facebook. We craft ads that advertise an affordable/low cost Final Expense/Burial Insurance Program for seniors between the ages of 50-85. Every ad contains the words low cost or affordable, as well as Final Expense Insurance Program or Burial Insurance Program to cover Funeral, Burial, and Final Expenses. Facebook shows these people our ads on their newsfeeds. In the advertisement, we encourage prospects to click to see if they qualify. After they click the ad, they will fill out their information, and you will immediately receive it.

How does this all work?

When you place your order, we set up a Facebook Advertising Campaign for you  from scratch, to target seniors in your location. After FB approves it, our ads about Affordable Final Expense Insurance begin to show on Senior's newsfeeds in an organic fashion in between their friends' and families' posts. They can scroll right past it, or if it strikes interest, they will click on it. From there it takes them to a questionnaire in which they have to fill out.

After they have filled it out 100% in its entirety AND click the submit button (nothing will be submitted unless all info is filled in, and they have to manually click submit), our software is set up so that their information is sent to you within seconds via Text, Email, Updated Google Spreadsheet, and Printable Lead Card.

In your email is where you will find the link to your spreadsheet and the link to your folder where you can access your printable lead cards. We send an email for every lead that comes in, and in every email those links remain the same. So you can open any email to access your links.



What are your hours?
9am-5pm Monday-Friday EST
If you contact us outside of these hours we will respond the next business day. You can email us at hello@happyagentleads.com

If you want leads coming in over the weekend, please place your order NO LATER than 3PM CST on Friday.

DELIVERY/FULFILLMENT TIMELINE:

How long does it take to start getting leads after placing my order?
We fulfill each order in the order that it is placed. Although we typically create your campaign the same day that we receive it (IF placed before 3pm CST M-F) , Facebook still has to approve it and give it the green light. After we set up your campaign, this can take anywhere from a few hours to 4 days. 

On average it takes about 24-32 hours. But it CAN take up to 4 days to START receiving leads.  Please be patient- we hate to wait just as much as you guys!


Once I start getting leads, how long does it take to get all of them?
We set up every campaign to deliver as quickly as possible. However, every area is different. If you order 10-20 leads, your entire order can be delivered as quickly as only 1-2 days. However, some areas with smaller populations, and/or highly competitive areas may create a slower lead flow. Especially Arizona, South Carolina, Virginia, Connecticut, and Colorado. Sometimes it may take several days to deliver all leads. 

Can I target by County Only?
No. Hyperlocal leads get very expensive and are much slower to generate.


Can I have my campaign scheduled for a later time?
Yes, please put your requested start date/time in the Special Requests section when you check out.  As long as the start time is at least 24 hours after you place your order (on a weekday), we can accommodate.  Please note that we can't make leads come in EXACTLY at any time, but we can have it start to run morning/afternoon/night on the requested date.



REFUNDS/CANCELLATIONS/REPLACEMENTS:

*ALL SALES ARE FINAL*
We are charged by Facebook in real time every time a lead is generated, and we cannot be reimbursed by Facebook.  

What is your Refund/Cancellation Policy?
We will ONLY issue a full refund within 2 hours of receiving your order. After that it is likely that we have already started working on your campaign and spending money. If you need to cancel your order and receive a refund within 2 hours, please email us at hello@happyagentleads.com. Unless you have canceled within 2 hours of your order being placed, ALL Sales are FINAL.

I am getting leads that are far away or out of my state!?
We target exactly as requested. We exclude border states, and target English speakers by default unless otherwise requested. Please note that it is common to receive leads outside of your targeted area. This is completely out of our control. Sometimes people share our ads with friends on Facebook and they fill out the forms. Or sometimes Facebook just has a mind of its own and finds leads from elsewhere- ESPECIALLY if your state is small and your zip/city is close to border states. Don't worry. This is why we have a replacement policy.

LEAD REPLACEMENT POLICY:
We will happily replace any lead that fits the following criteria and this criteria ONLY:

FINAL EXPENSE STATEWIDE LEAD REPLACEMENT POLICY:
If you aren’t familiar with our Lead Replacement/Refund Policy, check it out below:
We do not issue refunds but we will replace leads that fit the following criteria:
Over 85 years old
Out of State Leads 
Leads that provide a disconnected phone number 
Duplicate Leads sent by us only (IMPORTANT: Duplicates WILL occur because Seniors click Submit more than once on the questionnaire. Please ignore them. We cannot prevent this, but DON'T WORRY, duplicates do not count so just ignore them. We typically stay on top of them and already know you've received them).


FINAL EXPENSE LOCAL LEAD REPLACEMENT POLICY
Over 85 years old
Leads over 50 Miles from your Target location
Leads that provide BOTH a disconnected phone number AND an incomplete/ PO BOX address (if Local order)
Duplicate Leads sent by us only (IMPORTANT: Duplicates WILL occur because Seniors click Submit more than once on the questionnaire. Please ignore them. We cannot prevent this, but DON'T WORRY, duplicates do not count so just ignore them. We typically stay on top of them and already know you've received them).

NON MED TERM STATEWIDE LEAD REPLACEMENT POLICY:
If you aren’t familiar with our Lead Replacement/Refund Policy, check it out below:
We do not issue refunds but we will replace leads that fit the following criteria:
Over 80 years old (or over 60 if Essential Plus Ages 25-60 was purchased)
Out of State Leads 
Leads that provide a disconnected phone number 
Duplicate Leads sent by us only (IMPORTANT: Duplicates WILL occur because Seniors click Submit more than once on the questionnaire. Please ignore them. We cannot prevent this, but DON'T WORRY, duplicates do not count so just ignore them. We typically stay on top of them and already know you've received them).


NON MED TERM LOCAL LEAD REPLACEMENT POLICY
Over 80 years old
Leads over 50 Miles from your Target location
Leads that provide BOTH a disconnected phone number AND an incomplete/ PO BOX address (if Local order)
Duplicate Leads sent by us only (IMPORTANT: Duplicates WILL occur because Seniors click Submit more than once on the questionnaire. Please ignore them. We cannot prevent this, but DON'T WORRY, duplicates do not count so just ignore them. We typically stay on top of them and already know you've received them).


MORTGAGE PROTECTION STATEWIDE LEAD REPLACEMENT POLICY:
If you aren’t familiar with our Lead Replacement/Refund Policy, check it out below:
We do not issue refunds but we will replace leads that fit the following criteria:
-Out of State Leads 
-Leads that provide a disconnected phone number 
-Duplicate Leads sent by us only (IMPORTANT: Duplicates WILL occur because Seniors click Submit more than once on the questionnaire. Please ignore them. We cannot prevent this, but DON'T WORRY, duplicates do not count so just ignore them. We typically stay on top of them and already know you've received them).
**PLEASE NOTE: Because this is a ‘special category’ in Facebook, they do not allow us to ask for DOB. For that reason we cannot replace leads based on age.



IMPORTANT:
How do I request replacements?
Our goal is to get your extra leads to you as soon as possible. Please see below for instructions.

Preferred Method that ensures replacements are sent more quickly: 
Please highlight the lead row in Red on your spreadsheet and type the reason it needs to be replaced in the NOTES column.  We review your spreadsheet daily, so this is the quickest and most efficient way.

OR

Wait until the majority of your leads have come in, then send us ONE email listing all replacement requests WITH the reason for the request.  We need to know why the lead needs to be replaced.  Email us at hello@happyagentleads.com

Important: Please DO NOT send us an email every time you need a replacement.  These emails get lost in the shuffle and will cause confusion, and make it take longer to piece it all together on our end.

(You can also keep a draft email that you add to as needed, and then send when it is complete).

 
What do your ads say so I know what to say to prospects?
We present final expense insurance as a new, approved affordable burial program that they can qualify for. In EVERY ad, we mention LOW COST or AFFORDABLE. Many times we even put those words in ALL CAPS so that they cannot miss them. We NEVER EVER EVER SAY FREE. We NEVER mention the word "Government," or "State Regulated," and we do NOT offer incentives such as gift cards.

Please note that we use the term "FINAL EXPENSE INSURANCE" not Life Insurance.


Do you have a script?
Yes, we have a loose, optional script that we’ve developed based on the feedback of agents that have been successful with our leads. You will receive a copy after placing your order. It will be in your purchase email.


What information is given to leads?

By Default, we do not ever provide your Name or Contact Information, unless requested by you.

After they have submitted their information, we tell them that it looks like they are PRE Qualified for the program, but their licensed state representative will contact them to discuss further details.  

At this point they are done with the process, unless you have provided a Calendly link. If you provided a Calendar booking link, we create a button so your prospects can take it a step further and schedule an appointment. We do not provide your name.

If you DO want us to provide your phone number, please let us know on your order form in special requests, or simply email us at the time of your order. We will be happy to accommodate your request.



I’m getting texts and emails but I don’t see my leads on my spreadsheet. Where are my leads?

If this is not your first order with us, in order to stay organized, we have put your leads on a new “sheet” of your spreadsheet. Here’s how to find your new sheet.
1. Click your spreadsheet to open it.  
2. Wait a second for it to load. Don’t scroll.  
3. After it loads, just LOOK at the very bottom of your page. You’ll see a row at the bottom of the page with your tabs that contain order dates and quantity of leads. Click any tab with the order date you want to access. Every new order will be on a new sheet with your order date.


Making changes requires starting over from scratch.

If you need us to change your contact information, i.e. phone number/email address, yes, we can accommodate your change. However, we will not change any of the previous data that was generated before the change.  


What are your hours?
9am-5pm Monday-Friday EST
If you contact us outside of these hours we will respond the next business day. You can email us at hello@happyagentleads.com

How can I contact you?
Please email us at info@insuranceforlocals.com. We will respond promptly if during our business hours.


How do you target?
For all local orders we start at 25 miles. Some areas are insanely competitive, have low populations, and nearly impossible to get leads.​​​ In these cases we increase the radius to 30-35. In rare cases we increase to 50 miles.

**Please note that we ALWAYS exclude surrounding states and any areas you've requested to be excluded. We target English as the language (for non Spanish campaigns), but Facebook is software and it has glitches. You MAY receive leads that are far away or out of state. We realize this is frustrating. Relax. Stay calm. This is why we have a replacement policy.


How will I be notified when a lead comes in?
For each order you will receive:
-Text notification
-Email notification
-Updated Spreadsheet
-Lead Card (Google Document)​​​​​​​​

Please let us know if you notice something not working as it should. We cannot see on our end if you are receiving everything properly. You will need to let us know.


Do you re-sell leads to other agents?

No, we do not. All leads are 100% exclusive to you.  

However, please note that OUR leads are exclusive to YOU. We generate your leads from scratch and we NEVER touch them after that. But prospects in your city/state are not exclusive to you. They are potentially shopping around. It is common for prospects to fill out multiple forms or direct mailers, which means it is completely possible and not uncommon that other agents have contacted them, or are contacting them at the same time as you. Especially if you live in a saturated location where many other agents are purchasing leads from us and other vendors. This is completely out of our control.


Do you offer discounts for large orders?
Yes, we work with each agent on a case by case basis as every area varies in price at any given time. Please email us with your area and quantity of leads you'd like a quote on at hello@happyagentleads.com.

Do you offer weekly subscriptions?
Yes, we also offer discounted pricing based on your specific location and quantity. Please email us if you're interested in a weekly subscription.

Is there a coupon or discount for me if I refer other agents to you?
We are currently building our affiliate program. Please email us if you'd like to be an affiliate and earn cash commission for referrals.


Is there a number I can call?
As of right now we are a strictly digital company. Due to the amount of information that we manage from agent to agent, we prefer to keep all conversations in writing so we always have a reference point to pull from when building campaigns. If you would like to get in touch, please contact us at info@insuranceforlocals.com

        </p>
        <p class="mt-4 text-gray-600">
          Nobis minus voluptatibus pariatur dignissimos libero quaerat iure
          expedita at? Asperiores nemo possimus nesciunt dicta veniam aspernatur
          quam mollitia.
        </p>
        Photo by <a href="https://unsplash.com/@camylla93?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Camylla Battani</a> on <a href="https://unsplash.com/photos/short-coated-brown-dog-AoqgGAqrLpU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  
      </div>
    </div>
  </div>
</div>
