---
import { Image } from "astro:assets";
import Accordion from "./Accordion.astro";
---

<div
  id="buy"
  class="py-10 flex flex-col items-center justify-center bg-amber-50"
>
  <div class="mb-3">
    <h2 class="md:text-5xl text-2xl font-black">Top States By Leads</h2>
  </div>
  <Accordion />
</div>
