---
import { Image } from "astro:assets";
import { YouTube } from "@astro-community/astro-embed-youtube";

// import posterimage from "../assets/video_poster.jpg";
---

<div class="mx-auto max-w-2xl py-10 px-4">
  <YouTube id="https://youtu.be/TtRtkTzHVBU" />
  <!-- <video autoplay="true" loop="true" muted="true" ><source src="./Slider.mp4" type="video/mp4"/></video> -->
</div>
